<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" id="listing-panel" full-height>
      <div class="btn-row">
        <button class="btn btn-success pull-right btn-sm" ng-click="setNewListing()">Add New Listing</button>
        <div class="clearfix"></div>
      </div>

      <input ng-model="search.firm.name" type="text" class="input-text" id="admin-search" placeholder="Search by Firm Name" />
      <ul>
        <li ng-click="selectListing(listing)" ng-class="{ 'active': listing.active }" ng-repeat="listing in listings | filter: search.firm | orderBy: 'name'">
          <strong>{{listing.name}}</strong>
        </li>
      </ul>
    </div>

    <div class="col-md-5" id="listing-form" full-height>
      <div class="btn-row text-right">
        <button class="btn btn-sm btn-default" ng-click="resetSelected()" ng-show="isSelected">Reset</button>
        <button class="btn btn-sm btn-danger" ng-show="isSelected" ng-click="delete()">Delete</button>
        <button class="btn btn-sm btn-success" ng-show="isSelected" ng-click="save(form)" ng-disabled="form.$pristine">Save</button>
        <button class="btn btn-sm btn-success" ng-hide="isSelected" ng-click="create(form)">Create</button>
      </div>

      <hr>

      <form name="form" class="form-horizontal" role="form" novalidate>
          <div class="form-group" ng-class="{'has-error': submitted && form.name.$error.required}">
            <label class="col-md-3 control-label">Firm Name:</label>
            <div class="col-md-8">
              <input type="text" name="name" ng-model="currentListing.name" class="form-control" required />
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': submitted && form.contact.$error.required}">
            <label class="col-md-3 control-label">Contact:</label>
            <div class="col-md-8">
              <input type="text" name="contact" ng-model="currentListing.contact" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3">Additional Info</label>
            <div class="col-md-8">
              <button class="btn btn-success btn-sm" ng-hide="currentListing.additionalInfo" ng-click="launchInfoModal()">Create Information</button>
              <button class="btn btn-primary btn-sm" ng-show="currentListing.additionalInfo" ng-click="launchInfoModal()">Edit Information</button>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3">Application:</label>
            <div class="col-md-8" id="period">
              <div class="dates">                
                <div class="set-date" ng-repeat="period in currentListing.application">
                  {{period.start | date: 'dd-MMM-yyyy'}} <span>to</span> {{period.end | date: 'dd-MMM-yyyy'}}
                  <span class="glyphicon glyphicon-remove-circle" ng-click="deletePeriod($index, 'application')" tooltip="Delete"></span>
                </div>
              </div>

              <div ng-show="input.showApplication" class="date-input">                
                <div class="input-group" ng-class="{'has-error': input.periodError }">
                  <input type="text" name="end" datepicker-popup='dd-MMM-yyyy' datepicker-options="datepickerOptions" is-open="openFlags.applicationStart" ng-model="input.period.start" class="form-control input-sm" ng-disabled="true" placeholder="Start Date">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" ng-click="open($event, 'applicationStart')">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                  </span>
                </div>

                <div class="input-group" ng-class="{'has-error': input.periodError }">
                  <input type="text" name="end" datepicker-popup='dd-MMM-yyyy' datepicker-options="datepickerOptions" is-open="openFlags.applicationEnd" ng-model="input.period.end" class="form-control input-sm" ng-disabled="true" placeholder="End Date">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" ng-click="open($event, 'applicationEnd')">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                  </span>
                </div>

                <div class="cancel-ok">
                  <span class="glyphicon glyphicon-ok-circle" ng-click="addPeriod('application', 'showApplication')" tooltip="Add"></span>
                  <span class="glyphicon glyphicon-remove-circle" ng-click="cancelAddPeriod('showApplication')" tooltip="Cancel"></span>
                </div>

                <div class="clearfix"></div>
              </div>              

              <button type="button" class="btn btn-link" ng-click="input.showApplication = !input.showApplication"><span class="glyphicon glyphicon-plus-sign"></span> Add Period</button>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3">Interview:</label>
            <div class="col-md-8" id="period">
              <div class="dates">                
                <div class="set-date" ng-repeat="period in currentListing.interview">
                  {{period.start | date: 'dd-MMM-yyyy'}} <span>to</span> {{period.end | date: 'dd-MMM-yyyy'}}
                  <span class="glyphicon glyphicon-remove-circle" ng-click="deletePeriod($index, 'interview')" tooltip="Delete"></span>
                </div>
              </div>

              <div ng-show="input.showInterview" class="date-input">                
                <div class="input-group" ng-class="{'has-error': input.periodError }">
                  <input type="text" name="end" datepicker-popup='dd-MMM-yyyy' datepicker-options="datepickerOptions" is-open="openFlags.interviewStart" ng-model="input.period.start" class="form-control input-sm" ng-disabled="true" placeholder="Start Date">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" ng-click="open($event, 'interviewStart')">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                  </span>
                </div>

                <div class="input-group" ng-class="{'has-error': input.periodError }">
                  <input type="text" name="end" datepicker-popup='dd-MMM-yyyy' datepicker-options="datepickerOptions" is-open="openFlags.interviewEnd" ng-model="input.period.end" class="form-control input-sm" ng-disabled="true" placeholder="End Date">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" ng-click="open($event, 'interviewEnd')">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                  </span>
                </div>

                <div class="cancel-ok">
                  <span class="glyphicon glyphicon-ok-circle" ng-click="addPeriod('interview', 'showInterview')" tooltip="Add"></span>
                  <span class="glyphicon glyphicon-remove-circle" ng-click="cancelAddPeriod('showInterview')" tooltip="Cancel"></span>
                </div>

                <div class="clearfix"></div>
              </div>              

              <button type="button" class="btn btn-link" ng-click="input.showInterview = !input.showInterview"><span class="glyphicon glyphicon-plus-sign"></span> Add Period</button>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': getNumAreas() < 1 && submitted }">
            <label class="col-md-3 control-label">Practice Areas:</label>
            <div class="col-md-8">
              <div class="search-field">
                <span class="glyphicon glyphicon-search"></span>  
                <input type="text" placeholder="Search for Area" ng-model="input.areaFilter"/>    
              </div>

              <div class="new-area">
                <a href="" ng-click="addNewCategory()"><span class="glyphicon glyphicon-plus-sign"></span> Add New Area</a>
              </div>
              
              <div class="areas" ng-repeat="category in newCategories">
                <input type="checkbox">
                <input class="new-area-input" type="text" ng-model="input.newArea" />
                <span tooltip="Add" ng-click="confirmAdd()" class="glyphicon glyphicon-ok-circle"></span>
                <span tooltip="Cancel" ng-click="cancelAdd()" class="glyphicon glyphicon-remove-circle"></span>
              </div>
              
              <div id="areas-list">
                <label class="areas" ng-click="input.areaFilter = ''" ng-repeat="category in categories | filter: input.areaFilter | orderBy: '-selected'">
                  <input type="checkbox" ng-model="category.selected">
                  {{category.category}}
                </label>                
              </div>
            </div>
          </div>
      </form>
    </div>

    <div class="col-md-4" id="notification" full-height>      
    </div>
  </div>
</div>