$outer-shadow-1: 0 8px 17px 0 rgba(0, 0, 0, 0.2);

#status-container {
  min-height: 100vh;
  width: 100%;
  background-color: $base-purple;

  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

  -webkit-box-align: center; -moz-box-align: center; /* OLD… */
  -ms-flex-align: center; /* You know the drill now… */
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center; -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  margin: 0;

  @media(max-width: 768px) {
    .card {
      width: 80%;
    }
  }

  .card {
    height: 500px;
    width: 800px;
    background-color: white;
    box-shadow: $outer-shadow-1;

    .header {
      height: 15%;
      width: 100%;
      background-color: $light-purple;
      display: table;
      padding: 0px 25px;

      span {
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-size: 2em;
      }      
    }

    @media(max-width: 768px) {
      .header {
        span {
          font-size: 1.25em;
          text-align: center;
        }
      }
    }

    .header.approved {
      background-color: #5CB85E;
    }
    
    .header.rejected {
      background-color: #d9534f;
    }    

    .body {
      height: 85%;
      padding: 25px;
      overflow-y: scroll;
    }
  }
}

#not-found {
  img {
    height: 300px;
  }

  h3 {
    color: white;
    text-transform: uppercase;
  }
}