#approval-form {
  td .btn-default,
  th .btn-default {
    border: 0px;
  }

  .input-group ul {
    padding: 5px;
  }

  .input-group ul * {
    outline: none;
  }

  button:active,
  button:focus {
    outline: none;
  }
}