<div class="result card-outer">
  <div class="card-inner">
    <strong class="firm-name">{{listing.name}}</strong>

    <div class="entry">
      <div class="field-label">Contact:</div>
      <div class="value">
        <span ng-bind-html="listing.contact | linky"></span>
        <span ng-hide="listing.contact">Not Listed</span>
      </div>            
      <div class="clearfix"></div>
    </div>

    <div class="entry">
      <div class="field-label">Application Period:</div>
      <div class="value">
        <div class="period" ng-repeat="period in listing.application">
          {{period.start | date: 'dd-MMM-yyyy'}} to {{period.end | date: 'dd-MMM-yyyy'}}          
        </div>
        <span ng-show="listing.period.length < 1">Not Listed</span>
      </div>            
      <div class="clearfix"></div>
    </div>

    <div class="entry">
      <div class="field-label">Interview Period:</div>
      <div class="value">
        <div class="period" ng-repeat="period in listing.interview">
          {{period.start | date: 'dd-MMM-yyyy'}} to {{period.end | date: 'dd-MMM-yyyy'}}          
        </div>
        <span ng-show="listing.period.length < 1">Not Listed</span>
      </div>            
      <div class="clearfix"></div>
    </div>

    <div class="entry">
      <div class="field-label">Practice Areas:</div>
      <div class="value">
        <span ng-repeat="area in listing.practiceAreas" class="label label-category">{{area}}</span>
        <span ng-show="listing.practiceAreas.length < 1">Not Listed</span>
      </div>
      <div class="clearfix"></div>
    </div>    
    
    <div class="buttons">      
      <button class="pull-right btn btn-save btn-sm" ng-hide="flag" ng-disabled="saved" ng-click="bookmark({ l: listing })">Bookmark</button>

      <button class="pull-right btn btn-save btn-sm" ng-show="flag" ng-click="unbookmark({ l: listing })">Clear Bookmark</button>

      <button class="pull-right btn btn-default btn-sm" ng-click="openInfo(listing)">More information</button>

    </div>
    <div class="clearfix"></div>
  </div>
</div>